<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{block 'title'}}威武网{{/block}}</title>
    <link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    {{block 'head'}}
    {{/block}}
</head>
<body>
    {{block 'content'}}{{/block}}
    {{block 'js'}}{{/block}}
</body>
</html>